.specialLink1 {
  width: 250px;
  list-style-type: none;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  background-color: aliceblue;

  border-radius: 10px;
  color: black;
  margin: 10px;
  box-shadow: 5px 5px 8px rgb(161, 161, 161);
  padding: 10px;
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  text-decoration: none;
}
